# ---------------------------------------------------------------- #
# 1. קבצים ותיקיות נפוצים הנגזרים מפיתוח (לכל סביבה)
# ---------------------------------------------------------------- #

# יומני קריסה (Logs)
log/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# תלויות מודולים
/node_modules
/bower_components

# קבצים זמניים וקבצי בנייה (Build artifacts)
/dist
/build
/out
/coverage

# קבצי מטמון (Cache) של NPM ו-Yarn
.npm
.eslintcache
.stylelintcache

# קבצים אישיים/סודיים
# קובץ הגדרות סביבה (Environment variables)
.env
.env.local
.env.*.local

# קבצים שנוצרו על ידי עורכי קוד נפוצים (VSCode)
.vscode/*
!.vscode/settings.json  # אם אתה רוצה לשמור הגדרות פרויקט ספציפיות
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/


# ---------------------------------------------------------------- #
# 2. קבצים ספציפיים של מערכת ההפעלה Windows
# ---------------------------------------------------------------- #

# קובץ מערכת המייצג תצוגת תוכן מותאמת אישית של תיקיות
Thumbs.db
Thumbs.db:encryptable

# קובץ נפוץ של מערכת ההפעלה לקבצים זמניים
ehthumbs.db

# קבצי מערכת של שולחן העבודה
Desktop.ini

# קבצים זמניים של Office/Word (מתחילים בטילדה ~)
~$*.doc
~$*.docx
~$*.ppt
~$*.pptx
~$*.xls
~$*.xlsx

# קבצי מידע של סל המחזור
$RECYCLE.BIN/

# קובצי מטמון זמניים של Windows
*.tmp

# ---------------------------------------------------------------- #
# 3.