
logs/
*.logs
*.log
backend.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/node_modules
/bower_components

/dist
/build
/out
/coverage

.npm
.eslintcache
.stylelintcache

.env
.env.local
.env.*.local

.vscode/*
!.vscode/settings.json  # אם אתה רוצה לשמור הגדרות פרויקט ספציפיות
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

Thumbs.db
Thumbs.db:encryptable

ehthumbs.db

Desktop.ini

~$*.doc
~$*.docx
~$*.ppt
~$*.pptx
~$*.xls
~$*.xlsx

$RECYCLE.BIN/

*.tmp
